<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{236,1},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{471,1},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{706,1},{233,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{1,191},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{236,191},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{471,191},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{706,236},{233,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{1,381},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{236,381},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{471,381},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{706,471},{233,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{1,571},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{236,571},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{471,571},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{706,706},{233,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{1,761},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{236,761},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{471,761},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{1,951},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{236,951},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{471,951},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{706,941},{233,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{1,1141},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-Place-a-large-detailed-battle-axe-into-the-goblin-128px-25-frames-frame_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,188}</string>
                <key>spriteSourceSize</key>
                <string>{233,188}</string>
                <key>textureRect</key>
                <string>{{236,1141},{233,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heavy_enemy_death.png</string>
            <key>size</key>
            <string>{895,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:685a5a9aab2dde2cbf1cc83047fa2abf:064b64b26cbc6498c8a42247cda3d898:7a1c49b4b9ad158637e87fa8b805fbf8$</string>
            <key>textureFileName</key>
            <string>heavy_enemy_death.png</string>
        </dict>
    </dict>
</plist>
