<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{1,176},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{185,1},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{185,176},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{369,1},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{369,176},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{553,1},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{553,176},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{737,1},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{737,176},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{921,1},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{921,176},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{1105,1},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{1105,176},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{1289,1},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{182,173}</string>
                <key>textureRect</key>
                <string>{{1289,176},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heavy_enemy_attack.png</string>
            <key>size</key>
            <string>{1472,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2102f18090b035d96898c34e0807d1c5:0f04f8000239e4c1233d4b7a4e0cc4a0:3939b3ed2c2b89af86dbca335301c077$</string>
            <key>textureFileName</key>
            <string>heavy_enemy_attack.png</string>
        </dict>
    </dict>
</plist>
