<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{457,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{609,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{761,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{913,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1065,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1217,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1369,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1521,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1673,1},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1825,1},{150,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{153,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{305,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{457,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{609,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{761,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{913,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1065,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1217,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1369,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1521,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,136}</string>
                <key>textureRect</key>
                <string>{{1673,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heavy_enemy_walk.png</string>
            <key>size</key>
            <string>{1962,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dca1e0034f325f584047163bf17a240:5cf089463d2e82fde1361e5e7737957b:a5f364950ae95f5f1e2353c8478cdf20$</string>
            <key>textureFileName</key>
            <string>heavy_enemy_walk.png</string>
        </dict>
    </dict>
</plist>
