<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{131,94}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{267,233},{131,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{133,90}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{265,329},{133,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{133,92}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,967},{133,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{133,94}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{265,537},{133,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{131,98}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{263,733},{131,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{127,102}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{400,259},{127,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{127,106}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{400,1},{127,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{127,108}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{248,933},{127,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{129,110}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{134,473},{129,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{129,112}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{132,585},{129,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{131,114}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{267,1},{131,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{131,116}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{131,116}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,119},{131,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{131,116}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{134,1},{131,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{131,114}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,355},{131,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{131,112}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,471},{131,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{131,108}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{115,803},{131,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{131,98}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{248,833},{131,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{131,94}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{400,521},{131,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{131,94}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{396,783},{131,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{131,94}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{381,916},{131,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{133,98}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{263,633},{133,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{129,102}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{132,699},{129,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{127,106}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{400,130},{127,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{127,108}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{398,654},{127,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{127,110}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{136,913},{127,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{127,114}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{265,421},{127,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{134,355},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{134,237},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{129,114}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,585},{129,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{131,116}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,237},{131,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{131,116}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{134,119},{131,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{131,114}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{267,117},{131,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{131,112}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,701},{131,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{131,112}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,834},{131,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{131,100}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{400,388},{131,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light_enemy_walk/light_enemy_walk.png</string>
            <key>size</key>
            <string>{507,1060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e7b4dfc93bb9359d2af98a978a3a11f:477170dd4d6df76db85cfe047719acab:7c3b89f544edf63bb545208a28fd9e85$</string>
            <key>textureFileName</key>
            <string>light_enemy_walk/light_enemy_walk.png</string>
        </dict>
    </dict>
</plist>
