<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{162,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{323,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{484,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{645,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{806,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{967,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1128,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1289,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1450,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1611,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1772,1},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{162,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{323,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{484,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{645,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{806,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{967,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1128,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1289,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1450,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1611,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1772,125},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{162,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{323,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{484,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{645,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{806,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{967,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1128,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1289,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1450,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1611,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,122}</string>
                <key>textureRect</key>
                <string>{{1772,249},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light_enemy_walk.png</string>
            <key>size</key>
            <string>{1932,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:053910c786ade6536828701beab9b21a:477170dd4d6df76db85cfe047719acab:7c3b89f544edf63bb545208a28fd9e85$</string>
            <key>textureFileName</key>
            <string>light_enemy_walk.png</string>
        </dict>
    </dict>
</plist>
