<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{136,629},{131,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{129,125}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,770},{129,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{133,125}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,518},{133,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{133,123}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,645},{133,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-12}</string>
                <key>spriteSize</key>
                <string>{135,111}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{142,1},{135,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-21}</string>
                <key>spriteSize</key>
                <string>{137,93}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,275},{137,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-23}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,897},{129,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-23}</string>
                <key>spriteSize</key>
                <string>{123,89}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{132,861},{123,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-21}</string>
                <key>spriteSize</key>
                <string>{109,93}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{142,235},{109,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-20}</string>
                <key>spriteSize</key>
                <string>{103,95}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{132,1051},{103,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{101,97}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,1077},{101,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-18}</string>
                <key>spriteSize</key>
                <string>{97,99}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{104,1148},{97,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-16}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{136,762},{97,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{132,952},{97,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-16}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{140,433},{101,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{105,101}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{140,330},{105,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-20}</string>
                <key>spriteSize</key>
                <string>{109,95}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{142,138},{109,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-22}</string>
                <key>spriteSize</key>
                <string>{119,91}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{136,536},{119,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-24}</string>
                <key>spriteSize</key>
                <string>{129,87}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,988},{129,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-28}</string>
                <key>spriteSize</key>
                <string>{137,77}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,370},{137,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-32}</string>
                <key>spriteSize</key>
                <string>{139,69}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-32}</string>
                <key>spriteSize</key>
                <string>{139,67}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,72},{139,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-33}</string>
                <key>spriteSize</key>
                <string>{139,65}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,141},{139,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-33}</string>
                <key>spriteSize</key>
                <string>{139,65}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,208},{139,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-33}</string>
                <key>spriteSize</key>
                <string>{137,67}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,449},{137,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light_enemy_death/light_enemy_death.png</string>
            <key>size</key>
            <string>{256,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4059a46e1a3f96825b7b644ebff39b1c:4d302cca3429d2b44fada326dd23a915:fcf7c28377228cc2633be6f5933b2613$</string>
            <key>textureFileName</key>
            <string>light_enemy_death/light_enemy_death.png</string>
        </dict>
    </dict>
</plist>
