<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{202,1},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{403,1},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{604,1},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{805,1},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,140},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{202,140},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{403,140},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{604,140},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{805,140},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,279},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{202,279},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{403,279},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{604,279},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{805,279},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,418},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{202,418},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{403,418},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{604,418},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{805,418},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{1,557},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{202,557},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{403,557},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{604,557},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,137}</string>
                <key>spriteSourceSize</key>
                <string>{199,137}</string>
                <key>textureRect</key>
                <string>{{805,557},{199,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light_enemy_death.png</string>
            <key>size</key>
            <string>{1005,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a4b6e6682d81574a5deb71603971264:4d302cca3429d2b44fada326dd23a915:fcf7c28377228cc2633be6f5933b2613$</string>
            <key>textureFileName</key>
            <string>light_enemy_death.png</string>
        </dict>
    </dict>
</plist>
